#fondo
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -10;  
}
#pagina
{
    width: 50%;
    margin: auto;
    height: 1800px;
}
.indice
{
    position: sticky;
    top: 0;
    background-color: rgb(240, 204, 43);
    z-index: 20;
    border: 3px solid white;
    font-family: LXGW WenKai Mono TC ;
}
h1
{
    font-size: 250%;
    padding: 15px;
    text-align: center;
}
h1 a
{
    text-decoration: none;
    color: black;
}
h1 a:hover
{
    font-size: 200%;
    transition: .7s;
}
.conectores
{
    display: flex;
    list-style-type: none;
    justify-content: center;
    margin: 25px;
}
.conectores li
{
    padding: 15px;
}
.conectores li a
{
    text-decoration: none;
    padding: 18px;
    color:black;
}
.conectores li a:hover
{
    box-shadow: 0px 0px 5px black;
    border-radius: 30px solid white;
    font-size: 20px;
    transition: .7s;
    transition-behavior: .7s;
}
#aqui
{
    border-bottom: 2px solid rgb(255, 2, 2);
}

#video1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;   
    
}
h3{
    color: white;
    font-family: Oswald;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    font-size: 25px;
}
#redes1
{
    display: flex;
    list-style-type: none;
    justify-content: center;
}
#redes1 li
{
    padding: 10px;
}
p{
    color: aliceblue;
    font-size: 120%;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
}
#imagens{
    float: right;  
     width: 20%;
     height: 650px;
     padding: 10px;
   
}
#Copyright{
    display: flex;
    align-items: center;
    text-align: center;
   justify-content: center;
   grid-area: footer ;
   margin-top: 6%;
}
#imagens{
    width: 30%;
    display: grid;
    height: 100% ;
    text-align: center;
    padding-top: 50px;
    margin-left: 68%;
}
main{
    display: grid;
}
.grid-container{
    display: grid;
    grid-template-areas: "header header"
                          "aside article"
                          "footer footer";
                          grid-template-columns: 5fr 3fr;
                          gap: 10px;
}

#centro{
    grid-area: aside;
    padding-right: 5%;
    padding-left: 20%;
    width: 100%;
}
#imagens{
    display: grid;
    grid-area: article;
    width: 50%;
    margin-left: 45%;
}
#imageness{
    display: flex;
    justify-content: center;
    grid-area: article;
    height: 30%;
    width: 100%;
    padding-right: 10%;
    padding-top: 5%;


}
.titulo{
    font-size: 39px;
    color: white;
    text-align: center;
    font-family: Oswald;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.7);
    grid-area: header;
}